#container {
  width: 300px;
  height: 500px;
  margin: auto;
  background-color: rgb(36, 154, 201);
  border-radius: 12px;
  padding: 60px;
  font-family: Tahoma, Geneva, sans-serif;

  background-size: 100% 0%;
  background-image: linear-gradient(rgb(76, 194, 238), rgb(70, 190, 235));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  transition-property: background-size;
}

#container.load-animation {
  background-size: 100% 94%;
  transition-duration: 5000ms;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

#container.load-animation-finish {
  background-size: 100% 100%;
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#container.load-animation-timeout {
  background-size: 100% 0%;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}




body {
  background-color: #f0f0f0;
}

#container button {
  margin-top: 20px;
  color: white;
  background-color: rgb(46, 164, 211);
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#container button:hover, #container button:focus {
  background-color: rgb(60, 179, 231);
  background-image: none;
}

#loadStatus {
  display: none;
  margin: auto;
  margin-top: 100px;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#loadStatus.load-complete {
  display: inherit;
}

