#container {
  width: 300px;
  height: 500px;
  margin: auto;
  background-color: #90a8e9;
  border-radius: 12px;
  padding: 30px;

  background-size: 100% 0%;
  background-image: linear-gradient(#b0c8f9, #8098d9);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  transition-property: background-size;
}

#container.load-animation {
  background-size: 100% 94%;
  transition-duration: 5000ms;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

#container.load-animation-finish {
  background-size: 100% 100%;
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#container.load-animation-timeout {
  background-size: 100% 0%;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}




body {
  background-color: #f0f0f0;
}

#container button {
  display: block;
  margin: auto;
  margin-top: 20px;
}

#reset {
  border: 1px solid #902020;
  background-color: #400000;
  color: #ffaabb;
}

#loadStatus {
  display: none;
  margin-top: 100px;
  color: white;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

#loadStatus.load-complete {
  display: inherit;
}
